.jumbotron img {
	width: 250px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.jumbotron {
	background-image: url("/img/jumbotron-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}





.copyright {
	background-color: #121212;
}

.copyright-text {
	color: #ffff;
}




.social-icons {
	text-align: center;
	margin-right: 2rem;
}

.social-icons li {
	display: inline-block;
	list-style-type: none;
	-webkit-user-select: none;
	-moz-user-select: none;

}

.social-icons li a {
	border-bottom: none;
}

.social-icons li a :hover {
	background-color: rgb(44, 41, 41);
}

.social-icons li img {
	width: 40px;
	height: 40px;
	margin: auto;
	padding: 5px;

}

.footer {
	background-color: #121212;
}

.smtext {
	color: white;

}

hr {
	width: 5%;
	border-style: none;
	border-color: #ffff;
	border-top-style: dotted;
	border-width: 5px;

}

.lead {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-toggler {
	background-color: whitesmoke;
}



.display-4 {
	color: white;
}

.lead {
	color: whitesmoke;
}

.more-info {
	margin-top: 1.25em;
	background-color: #171717;
	color: whitesmoke;
	padding: 2.6875em 3.125em 2.6875em 3.125em;
}

.navbar {
	background-color: #121212;
}




/* Make sure that padding behaves as expected */
* {
	box-sizing: border-box
}

/* Container for skill bars */
.skills-container {
	width: 70%;
	/* Full width */
	background-color: #ddd;
	/* Grey background */
}

.skills {
	text-align: right;
	/* Right-align text */
	padding-top: 10px;
	/* Add top padding */
	padding-bottom: 10px;
	/* Add bottom padding */
	color: white;
	/* White text color */
}

.html {
	width: 90%;
	background-color: #4CAF50;
}

/* Green */
.css {
	width: 60%;
	background-color: #2196F3;
}

/* Blue */
.js {
	width: 70%;
	background-color: #f44336;
}

/* Red */
.python {
	width: 80%;
	background-color: yellow;
}

.sql {
	width: 70%;
	background-color: purple;
}

.node {
	width: 45%;
	background-color: seagreen;
}

.mongodb {
	width: 50%;
	background-color: burlywood;
}

/* Dark Grey */


.skill-name {
	margin-bottom: 0px;
	margin-top: 20px;
}

.education {
	margin-top: 20%;

}